* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  margin: 20px;
  position: relative;
  height: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  overflow: hidden;
}

#lightblue {
  position: absolute;
  border: initial;
  background-color: lightcoral;
  z-index: -1;
  transform: translateX(-100%);

  animation: move-back 0.4s both ease 0.1s;
}

div:hover #lightblue {
  display: initial;
  animation: move 0.5s both 3 ease 0.1s;

  /* animation-name: move;
  animation-duration: 0.5s;
  animation-timing-function: ease; */
}

@keyframes move {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes move-back {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
